<section>
    <header>
        <img src="/Fotojohncasting.jpg" width="300" alt="" > 
        
    </header>
</section>
<header>Mister_John</header>
    <h1>Datos personales</h1>
        <ul>País: España </ul>
        <ul>Provincia: A Coruña</ul>
        <ul>Ciudad: Santiago de Compostela</ul>
        <ul>Edad: 28 años</ul>
    <h1>Datos académicos</h1>
        <ul>Máster: especialización en mediación mercantil, civil y laboral.</ul>
        <ul>Doble grado: Derecho y Relaciones Laborales. Universidad de Santiago de Compostela</ul>
        <ul>Ciclo Superior: Anatomía Patológica y Laboratorio Biomédico.</ul>
        <ul>Idiomas: </ul>
         <ul>Nivel de inglés: C1 Cambridge ESOL.</ul>  
            <ul>Nivel de alemán: A2. Centro de Linguas Modernas da USC. </ul> 
            <ul>Nivel de francés: intermedio.</ul>
            <ul>Nivel de gallego: Celga 4.</ul>
    <h1>Datos profesionales</h1>
    <ul>Letrado Conciliador en SMAC Santiago de Compostela</ul>
    <ul>Técnico de Laboratorio en IDIS Fundación Ramón Domínguez. Laboratorio Celulas Madre y Envejecimiento Celular, doctor M. Collado. </ul>
        <ul>Profesor de danza clásica y contemporánea. Escuela Balancé.</ul>
        <ul>Monitor de ocio y tiempo libre</ul>
        <ul>Monito deportivo</ul>
    </ul>


<style>
    img {
        border-radius: 40%;
        
    }
    body {
        margin: 0 auto;
        text-align: center;


    }
</style>

</html>