---
import Esquelo from "../layouts/Esquelo.astro";
---

<Esquelo titulo="Página de contacto">
	<nav class="miClase" id="miNa">
        <ul>
            <a href="https://wwww.google.es">Google</a>
        </ul>
    </nav>
</Esquelo>
