---
import Esquelo from "../layouts/Esquelo.astro";
import About from "./About.astro";
import Connect from "./Connect.astro";
import Project from "./Project.astro";
import Servicios from "./Servicios.astro"; 
---
<Esquelo> 
    
	<About />
    <Connect />
	<Project />
	<Servicios />
</Esquelo>

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fondo de Página Web</title>
  <style>
    body {
      background-image: url('public/HD-wallpaper-chess-board-greetings-happy-paris-tumblr-twilight-zen.jpg');
      background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
      background-repeat: no-repeat; /* Evita la repetición de la imagen */
    }
  </style>
</head>
<body>

<!-- Contenido de tu página aquí -->

</body>
</html>
