---
import Esquelo from "../layouts/Esquelo.astro";
---

<Esquelo />

<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body> 

    <li>
        <ul>Senda do Rio Sar</ul>
        <ul>Museo do Pobo Galego</ul>
        <ul>Mercado de Abastos</ul>
    </li>

    </body>
</html>


<style>
    li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
</style>