<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menú Centrado en la Parte Superior</title>

  <style>
    /* Estilos para el contenedor del menú */
    nav {
      background-color: #333;
      color: #fff;
      padding: 10px;
      text-align: center; /* Centra horizontalmente los elementos */
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    li {
      display: inline;
      margin-right: 20px;
    }
    a {
      color: #fff;
      text-decoration: none;
    }
  </style>

<nav>
  <ul>
    <li><a href="/">Inicio</a></li>
    <li><a href="/About">Acerca de</a></li>
    <li><a href="/Servicios">Servicios</a></li>
    <li><a href="/Connect">Contacto</a></li>
  </ul>
</nav>
</head>


<body>



</body>
</html>
