---
const { titulo } = Astro.props;
import Menu from "../components/Menu.astro";
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Fondo de Página Web</title>
        <style>
            body {
                background-image: left
                    url("public/HD-wallpaper-chess-board-greetings-happy-paris-tumblr-twilight-zen.jpg");
                background-size:; /* Ajusta la imagen para cubrir todo el fondo */
                background-repeat: no-repeat; /* Evita la repetición de la imagen */
                background-image:;
            }
            body > img {
                opacity:;
            }
        </style>
        <Menu />
    </head>

    <!-- Contenido de tu página aquí -->



    <!-- Contenido de tu página aquí -->
</html>

<slot />
